<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>الكشاف العربي</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Dancing+Script:wght@400;500&family=Satisfy&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d06448da53.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success" style="font-family: 'Amiri', serif;">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"> الكشاف العربي <i class="fab fa-searchengin" style="color:lawngreen"></i> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Authors">المؤلفين <i class="fas fa-feather-alt" style="color:black; font-size:25px;"></i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  asp-controller="Home" asp-action="Articles"> المقالات <i class="fas fa-scroll" style="color:burlywood;font-size:25px;"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Magazines">المجلات <i class="fas fa-book" style="color:chartreuse;font-size:25px;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Institutions"> المؤسسات <i class="fas fa-landmark" style="color:cyan;font-size:25px;"></i></a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="بحث بعنوان المقال" aria-label="Search">
                    <button class="btn btn-outline-light my-2 m-2 my-sm-0" type="submit">بحث <i class="fas fa-search" style="color:aqua"></i></button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="main-footer bg-success">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline m-2" style="color:white;">

            جميع الحقوق محفوظة
            <strong> &copy; الكشاف العربي </strong>
        </div>
        <!-- Default to the left -->
        <p class="m-2" style="color:white;">
            تم التطوير بواسطة شركة دقة للبرمجيات
        </p>
    </footer>
    <!-- Optional JavaScript -->
    @RenderSection("Scripts", required: false)
</body>
</html>
