<style>
    h1 {
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
</style>
<div class="text-right"  style="font-family: 'Amiri', serif;">
    <h1 class="display-4 m-5">المؤلفين</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">الاسم</th>
                <th scope="col">المؤسسه</th>
                <th scope="col">المؤشر H</th>
                <th scope="col">عدد المقالات</th>
                <th scope="col">عدد الاستشهادات</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <img src="~/ss.png" style="border-radius:50%; width:110px; height:80px;" />
                </th>
                <td> دكتور/عبدالله محمد الجغيمان</td>
                <td>جامعة الملك فيصل</td>
                <td>1</td>
                <td>16</td>
                <td>13</td>
            </tr>
            <tr>
                <th scope="row">
                <a asp-controller="Home" asp-action="Author" >    <img src="~/m.jpg" class="img-fluid" style="border-radius:50%;" /> </a>
                </th>
                <td>أستاذ دكتور/محمود عبدالعاطي</td>
                <td>جامعة سوهاج</td>
                <td>10</td>
                <td>750</td>
                <td>152</td>
            </tr>
            <tr>
                <th scope="row">
                 
                    <img src="~/pp.png"  style="border-radius:50%; width:110px; height:80px;"/>
                </th>
                <td> دكتور/عادل رشاد غنيم</td>
                <td>جامعة الملك فيصل</td>
                <td>1</td>
                <td>50</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</div>

