@model Citations.Models.TypeOfPublisher

@{
    ViewData["Title"] = "Details";
}

 

<div>
    <h4>تفاصيل نوع الناشر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class="col-sm-2">
            نشط
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TypePublisherid">تعديل</a> |
    <a asp-action="Index">الرجوع الي القائمة</a>
</div>
