@{
    Layout = "_MainLayout";
}
<h4 class="bg-success text-white p-2 mt-3">
   تم اعادة تعيين كلمة السر بنجاح <a asp-action="Login" style="color:white; text-decoration:underline;"> تسجل الدخول الان !  </a>
</h4>
