@model IEnumerable<Citations.Models.ResearchField>

    @{
        ViewData["Title"] = "DeleteResearchField";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Delete Research Fields from @ViewBag.magazineName </h1>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    @foreach (var item in Model)
                    {
                        <input type="checkbox" value="@item.Fieldid" name="Field" /> @item.Name
                        <br />
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
